{% extends 'base.html.twig' %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}
	<main class="flex flex-col items-center">

		<h1 class="font-bold text-2xl mb-7 ">{{article.title}}</h1>

		<p class="text-justify w-4/5 min-w-[300px]">
			{{article.content}}
		</p>
		<p class="mt-9">
			Auteur :
			{{article.author}}
		</p>


		<h2 class="font-bold text-xl text-center uppercase my-7 text-dark_purple">Commentaires</h2>

		{% if app.user %}
			{% for message in app.flashes('success') %}
				<div class="bg-green-100 text-green-800 border border-green-300 rounded-md p-2">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="bg-red-100 text-red-800 border border-red-300 rounded-md p-2">
					{{ message }}
				</div>
			{% endfor %}
			<form method="POST" action="{{ path('app_new_comment') }}" class="w-full flex flex-col content-center gap-y-12 p-7 rounded-2xl m-auto shadow-lg max-w-[800px]">
				<input type="hidden" name="article_id" value="{{ article.id }}">
				<div class="flex flex-col-reverse w-full">
					<textarea id="content" name="content" class="input peer" placeholder="Tapez votre commentaire ici..."></textarea>
					<label for="content" class="label">Votre commentaire :</label>
				</div>
				<button type="submit" class="btn btn-secondary w-fit m-auto">
					Envoyer
				</button>
			</form>
		{% else %}
			<p class="gap-y-12 p-7 rounded-2xl m-auto shadow-lg">Pour laisser un commentaire veuillez vous authentifier</p>
		{% endif %}


		<ul>
			{% if comments|length < 1 %}
				<p class="font-semibold my-7 ">Il n'y a aucun commentaire pour cet article.</p>
			{% else %}
				{% for comment in comments %}
					<li class="space-y-2 w-4/5 min-w-[300px] p-5 border-b border-b-slate-300 mx-auto flex flex-col">
						<strong>{{ comment.user.username }}</strong>
						<p>{{ comment.content }}</p>
						<small class="text-gray-600">{{ comment.createdAt|date('d/m/Y H:i') }}</small>
						{% if app.user and app.user.id == comment.user.id %}
							<div class="ml-auto font-semibold space-x-3">
								<form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');">
									<button type="submit" class="text-red-500 hover:text-red-700">Supprimer</button>
								</form>
								{# <button>Supprimer</button> #}
							</div>

						{% endif %}
					</li>
				{% endfor %}
			{% endif %}

		</ul>


	</main>

{% endblock %}
