{% extends 'base.html.twig' %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}
	<main class="flex flex-col items-center">

		<h1 class="font-bold text-2xl mb-7 ">{{article.title}}</h1>

		<p class="text-justify w-4/5 min-w-[300px]">
			{{article.content}}
		</p>
		<p class="mt-9">
			Auteur :
			{{article.author}}
		</p>


		<h2 class="font-bold text-xl text-center uppercase my-7 text-dark_purple">Commentaires</h2>
		<ul>
			{% if comments|length < 1 %}
				<p class="font-semibold">Il n'y a aucun commentaire pour cet article.</p>
			{% else %}
				{% for comment in comments %}
					<li class="space-y-2 w-4/5 min-w-[300px] p-5 border-b border-b-slate-300 mx-auto flex flex-col">
						<strong>{{ comment.user.username }}</strong>
						<p>{{ comment.content }}</p>
						<small class="text-gray-600">{{ comment.createdAt|date('d/m/Y H:i') }}</small>
						{% if app.user and app.user.id == comment.user.id %}
							<div class="ml-auto font-semibold space-x-3">
								<button>Modifier</button>
								<button>Supprimer</button>
							</div>

						{% endif %}
					</li>
				{% endfor %}
			{% endif %}

		</ul>


	</main>

{% endblock %}
